{% extends 'base.html' %}




{% csrf_token %}

{% block contenido %}
<style>
	.bordered{
		border: solid 1px #b5b1ae;
		padding: 13px;
	}
</style>
<div class="container">
	<div class="row" >
		<div class="col-sm-12 col-md-9">
			<h1>Orders Maker</h1>

			
		</div>
		<div id="order-number-container" class="col-sm-12 col-md-3" style="display: 
		none;">
			<b>Order Number: <span id="order-number-value"></span></b>
			<img id="print-btn" src="https://www.fileformat.info/info/unicode/char/1f5b6/printer_icon.png" alt="Print Image" title="Print Image" onclick="print_order();">
		</div>
		<div class="col-md-12">
			<div class="col-sm-12" id="errors-containerr" style="color: red; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 bordered">
			<h6>Datos Generales</h6>

			<div class="row">
				<div class="col-md-9" style="font-size: 10px;">
					<div style="margin-bottom:  7px;" class="btn-group" role="group" aria-label="Basic radio toggle button group">	
						<span style="font-size: 11px; margin-right: 5px;">Order Type:</span> 
						<input class="btn-check" type="radio" id="order-type-1" name="order_type" onClick="check_order_type(this);" value="1" checked>
						<label style="font-size: 0.7rem; line-height: 0.5rem;" class="btn btn-outline-secondary" for="order-type-1">Centro de distribución</label><br>
						<input class="btn-check" type="radio" id="order-type-2" name="order_type" onClick="check_order_type(this);" value="2">
						<label style="font-size: 0.7rem; line-height: 0.5rem;" class="btn btn-outline-secondary" for="order-type-2">Sucursal</label><br>
						<input class="btn-check" type="radio" id="order-type-3" name="order_type" onClick="check_order_type(this);" value="3">
						<label style="font-size: 0.7rem; line-height: 0.5rem;" class="btn btn-outline-secondary" for="order-type-3">Empresa Asociada</label>
					</div>

					<br>
					<div id="detail-warehouse-container">
						<div class="row">
							<div class="col-sm-12 col-md-5">
								<label >Almacen</label>
								<div class="dx-field">
									<div id="cmb-warehouses"></div>
									
								</div>
								
							</div>
						</div>
					</div>
					<div id="detail-sucursal-container" style="display: none;">
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<label >Reference</label>
								<div id="reference-input" ></div>
							</div>
							<div class="col-sm-12 col-md-6">
								<label >Código Sucursal</label>
								<div id="sucursal-code-input"></div>
							</div>
						</div>
					</div>
					<div id="detail-associatedcompany-container" style="display: none;">
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<label >Referencia</label>
								<div id="reference-associated-input"  ></div>
							</div>
							<div class="col-sm-12 col-md-6">
								<label>Código del socio</label>
								<div id="member-code-input" ></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<label class="form-check-label" for="chkUrgent"> La orden es urgente:</label>
					 <input id="chkUrgent" class="form-check-input" type="checkbox" name="urgent"> 
				</div>
			</div>

			
			
		</div>
	</div>
	<div class="row">

		<div class="col-sm-12 col-md-7 bordered" style="border-top: 0;">
			<h5>Artículos de la orden</h5>
			<hr>
			<table id="articles-order-table" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Code</th>
						<th>Description</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Subtotal</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
			<div class="row">
				<div id="total-container" class="col-sm-12 col-md-3 offset-md-9">
					<b>Total: $ <span id="total-value">0.00</span> </b>
				</div>
			</div>
			
		</div>
		<div class="col-sm-12 col-md-5 bordered" style="border-left: 0; border-top: 0;">
			<div class="field-container" style="text-align: 
			center;">
				<!--<label>Articulo</label>
				<input type="text" name="article_finder" class="input" />-->
				<h5>Listado de artículos</h5>
				<div id="grid-articulos"></div>
				
			</div>
			<small style="font-size: 9px; position: relative; bottom: -18px;">Doble click para agregar o con el botón +</small>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center mt-3 mb-2">
			<button id="btn-make-order" class="btn btn-success" onclick="save_order();">MAKE ORDER</button>
		</div>
	</div>
</div>

{% endblock contenido %}


