{% extends "easy_pdf/base.html" %}
{% load humanize %}
{% block extra_style %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8"> 

    <style type="text/css">
        @page {
        	size: letter;
		    margin: 1cm;
		}

        body {
            font-family: "Arial", "Helvetica", "sans-serif";
            color: #111;
            font-size: 9px;
        }

          .table {

            text-align: center;
          }
          .table td,
          .table th {
            background-color: #fff !important;
            font-size: 11px ;
          }
          .table-bordered th,
          .table-bordered td {
            padding-top: 3px;
            font-size: 11px;
            height: 15px;
          } 

    </style>
{% endblock %}

{% block content%}
	
	<h1>Order Number: {{order.order_number}} </h1>
	<hr>
	<h2 style="border-bottom: 1px solid #ccc;">Order Type</h2>
	<table >
		<tr>
			<td style="text-align: left;">
				{{order.order_type.name}} - {{order.order_type.description}}
			</td>
			<td style="text-align: right; margin-right: 50px; font-size: 15px;">
				Order is urgent: {% if order.urgent %} YES {% else %} NO {%endif%}
			</td>
		</tr>
	</table>
	<div>
	</div>

	<h3>Details</h3>
	{% if order.order_type_id == 1%}
		Almacen: {{order.distribution_center_details.warehouse.code}}
	{% elif order.order_type_id == 2 %}
		<div>Reference: {{order.branch_office_details.reference}}</div>
		<div>Sucursal code: {{order.branch_office_details.branch_office_code}}</div>

	{% elif order.order_type_id == 3 %}
		<div>Reference: {{order.associated_company_details.reference}}</div>
		<div>Partner code: {{order.associated_company_details.partner_code}} </div>
	{% endif%}

	<h2 style="border-bottom: 1px solid #ccc;">Customer information</h2>
	<table>
		<tr>
			<td>
				<div>
					<b>Customer Name:</b> {{ order.customer.name }}
				</div>
				<div>	
					<b>Customer Address:</b> {{ order.customer.address }}
				</div>
			</td>
			<td style="text-align: right; padding-right: 30px;">
				<div style="vertical-align: top;">
					<b>Customer Type:</b> {{ order.customer.tipo_cliente.name }}
				</div>
				
			</td>
		</tr>
	</table>

	<h2 style="margin-top: 30px; border-bottom: 1px solid #ccc;">Order articles</h2>
	<table class="table-bordered table"  border="1" bordercolor="#3f4145">
			<thead>
				<tr>
					<th style="background-color: #CCC;">Code</th>
					<th style="background-color: #CCC;">Description</th>
					<th style="background-color: #CCC;">Price</th>
					<th style="background-color: #CCC;">Quantity</th>
					<th style="background-color: #CCC;">Subtotal</th>
				</tr>
			</thead>
			<tbody>
				{% for order_detail in order.articles_details.all %}
					<tr>
						<td>{{order_detail.article.code}}</td>
						<td>{{order_detail.article.description}}</td>
						<td>{{order_detail.article.price}}</td>
						<td>{{order_detail.quantity}}</td>
						<td style="text-align: center;">
							${{order_detail.subtotal}}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>	
		
		<h2 style="text-align: right; margin-right: 30px; margin-top: 25px; font-size: 23px;">Total: ${{ total | intcomma }}</h2>
{% endblock %}
