{% load static %}

<!doctype html>
<html class="no-js" lang="es-MX">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        {% block scripts_css %} {% endblock scripts_css %}
        <style>
            body {
                background-color: #eee;
                padding-top: 50px;
            }
            .content{
                background-color: white;
                box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
                padding: 10px;
                margin-top:5px;
            }

            {% block personal_styles %}{% endblock personal_styles %}
        </style>


    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.1.4/css/dx.light.css">
 
    
        <!--
        <script src="https://use.fontawesome.com/76790a708b.js"></script>
        -->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="content">
            {% block contenido %}{% endblock contenido %}
        </div>
    


        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <!-- DevExtreme library -->
        <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/21.1.4/js/dx.all.js"></script>
  
        <script>
            $(function () {
                let data = [{order_number:1}];
                $("#buttonContainer").dxDataGrid({columns: ['order_number', 'type', 'customer', 'created_date', 'delivery_date', 'urgent', 'num_articles'], noDataText: 'Sin ordenes', dataSource: data, showBorders: true, columnAutoWidth: true});
            });
        </script>

        {% block scripts_js %} {% endblock scripts_js %}
    </body>
</html>