<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
<!-- DevExtreme library -->
<script type="text/javascript" src="https://cdn3.devexpress.com/jslib/21.1.4/js/dx.all.js"></script>

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>


 <script>
    let articles = [];
    let instanceGridArticles = null;
    let articlesDS;
    let validator_warehouse, validator_sucursal, validator_associatedCompany;
    let errors_json;
    
        $.get('/api/v1/orders/?urgent=True&order_type_id=1&deliver_date__isnull=True&customer__tipo_cliente_id=4').then(function(resp){
            let data = resp;
           
            $("#buttonContainer").dxDataGrid({
                columns: [{dataField: 'order_number', alignment:'center'}, {dataField: 'order_type',  caption: 'Type', alignment: 'center'}, 'customer', {dataField: 'created_date', alignment: 'center'}, {dataField: 'deliver_date', alignment: 'center'}, {dataField:'urgent', allowSort: true, sortOrder: 'desc'}, {dataField: 'num_articles', caption: 'Num. artículos', alignment: 'center', width: '100px'}],
                noDataText: 'Sin ordenes',
                dataSource: data,
                showBorders: true,
                columnAutoWidth: true,
                filterRow: {visible: true},
                grouping:{ texts:{ groupContinuesMessage: "Continúa en la página siguiente" }},
                groupPanel: {visible: true, emptyPanelText: "Arrastre aquí la columna para agrupar"},
                export: {enabled: true, fileName: 'orders_report', allowExportSelectedData: true, 
                    excelFilterEnabled: true, excelWrapTextEnabled: true, texts: {exportAll: 'Exportar Todo', exportSelectedRows: 'Exportar Selección'}}
            });
          
        }, function(error){
            alert('Error al cargar las ordenes');
        });

        $.get('/api/v1/articles').then(
            resp => {
                articles = resp;
                articlesDS = new DevExpress.data.DataSource({store: articles});
                $('#grid-articulos').dxDataGrid({noDataText: 'Sin artículos',
                                                filterRow: {visible: true},
                                                height: '225px',
                                                dataSource: articlesDS,
                                                paging: {enabled: false},
                                                columns: ['code',
                                                'description',
                                                {dataField:'price',
                                                format: {type: 'fixedPoint',
                                                precision: 2},
                                                dataType: 'number'},
                                                {caption: 'Add',
                                                alignment: 'center',
                                                cellTemplate: function(cont, ops){
                                                    cont.append(`<div class='btn btn-outline-dark btn-sm' onclick="add_article_to_order(${ops.data.id}, '${ops.data.code}', '${ops.data.description}', ${ops.data.price});">+</div>`);} }], 
                                                onRowDblClick: (elem)=> add_article_to_order(elem.data.id, elem.data.code, elem.data.description, elem.data.price)});
                instanceGridArticles = $('#grid-articulos').dxDataGrid('instance');
            }, error => {
                alert('error al buscar artículos');
            }
        );

        validator_warehouse = $('#detail-warehouse-container').dxValidationGroup({});
        validator_sucursal = $('#detail-sucursal-container').dxValidationGroup({});
        validator_associatedCompany = $('#detail-associatedcompany-container').dxValidationGroup({});

        $.get('/api/v1/warehouses').then(resp=> {
            $('#cmb-warehouses').dxLookup({ dataSource: resp,
                                            displayExpr: 'code',
                                            valueExpr: 'id',
                                            placeholder: 'Seleccione el almacen',
                                            title: 'Warehouse',
                                            name: 'warehouse',
                                            showCancelButton: false,
                                            showPopupTitle: false,
                                            stylingMode: 'filled',
                                            animation: {show: {
                                                type: 'pop',
                                                duration: 250
                                            }}
                                         })
                                .dxValidator({validationRules: [
                                                {type: 'required',
                                                message: 'Field Required'}],
                                              validationGroup: validator_warehouse});


        });

        $('#reference-input').dxTextBox({name: 'reference', 
                                        placeholder: 'Introduzca la referenia. Ej: OU008236-CH03'})
                             .dxValidator({validationRules: [
                                                {type: 'required', 
                                                message: 'Field Required'}], 
                                           validationGroup: validator_sucursal});

        $('#sucursal-code-input').dxTextBox({name: 'sucursal_code',
                                             placeholder: 'Introduzca el código de la sucursal'})
                                 .dxValidator({validationRules: [{type: 'required', 
                                                                  message:'Sucursal Code Required'}], 
                                              validationGroup: validator_sucursal});

        $('#reference-associated-input').dxTextBox({name: 'reference_ac',
                                                    placeholder: 'Ej, OU51214-CH03'})
                                        .dxValidator({validationRules: [{type: 'required',
                                                                        message:'Member Code Required'}], 
                                                    validationGroup: validator_associatedCompany});


        $('#member-code-input').dxTextBox({name: 'member_code',
                                           placeholder: 'Introduzca el código del socio'})
                                .dxValidator({validationRules: [{type: 'required', 
                                                                message:'Member Code Required'}], 
                                            validationGroup: validator_associatedCompany});


        let order_articles = [];

        function add_article_to_order(article_id, code, desc, price) {
            let quantity;

            alertify.prompt( 'Artículos a agregar', '', 
                function(evt, value) { 
                    let index;
                    quantity = value;
                    if(parseInt(quantity) > 0){
                        $('#articles-order-table tbody').append(`<tr>\
                            <td>${code}</td> \
                            <td>${desc}</td> \
                            <td>${quantity}</td> \
                            <td>${price}</td> \
                            <td>${quantity*price}</td> \
                        </tr>`);
                        let total_elem = $('#total-container #total-value');
                        total_elem.html((parseFloat(total_elem.html()) + quantity*price).toFixed(2));
                        order_articles.push({article_id: article_id, quantity: quantity});
                        articles.find((elem, i)=>{index = i; if(elem.id == article_id){ return true;}  });
                        articles.splice(index, 1);
                        instanceGridArticles.refresh();

                    }else if(quantity != null){
                        alert('No es una cantidad valida');
                    }
                }
            );
        }

        function check_order_type(selection){
            switch(parseInt(selection.value)){
                case 1: $('#detail-warehouse-container').css('display', 'block');
                        $('#detail-sucursal-container').css('display', 'none');
                        $('#detail-associatedcompany-container').css('display', 'none');
                    break;
                case 2: $('#detail-sucursal-container').css('display', 'block'); 
                        $('#detail-warehouse-container').css('display', 'none');
                        $('#detail-associatedcompany-container').css('display', 'none');
                    break;
                case 3: $('#detail-associatedcompany-container').css('display', 'block'); 
                        $('#detail-sucursal-container').css('display', 'none');
                        $('#detail-warehouse-container').css('display', 'none');
                    break;
            }
        }

        function articlesAdded(){
            if(order_articles.length == 0){
                alertify.error('No ha agregado artículos');
                return false
            };
            return true;
        }
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        function save_order(){
            //let order_type_id = parseInt($('input[name=order_type]:checked')[0].value());
            //alert(order_articles);
            
            let order_type_id = parseInt($('input[name=order_type]:checked')[0].value);
            let validator;
            switch(order_type_id){
                //Distribution Center
                case 1: validator = validator_warehouse;
                    break;
                //Sucursal
                case 2: validator = validator_sucursal;
                    break;
                //Associated Company
                case 3: validator = validator_associatedCompany;
                    break;
                default: alertify.error('Tipo de orden invalido');
                    return;
            }

            if(DevExpress.validationEngine.validateGroup(validator).isValid && articlesAdded()){
                 data = { 
                       articles: JSON.stringify(order_articles),
                       order_type_id: order_type_id,
                       urgent: $('input[name=urgent]').is(':checked'),
                       csrfmiddlewaretoken: csrftoken
                   };

                  //ALMACEN
                 if(parseInt($('input[name=order_type]:checked')[0].value) == 1){
                       data.warehouse_id = parseInt($('input[name=warehouse]')[0].value);
                 }
                 if(parseInt($('input[name=order_type]:checked')[0].value) == 2 ){
                       data.reference = $('input[name=reference]')[0].value;
                       data.sucursal_code = $('input[name=sucursal_code]')[0].value;
                 }
                 if(parseInt($('input[name=order_type]:checked')[0].value) == 3  ){
                       data.reference =  $('input[name=reference_ac]')[0].value;
                       data.partner_code = $('input[name=member_code]')[0].value;
                 }

                 $.post('/save_order', data).then(resp => {
                    $('#errors-containerr').html('');
                    $('#errors-containerr').hide('fast');
                    DevExpress.ui.notify('Orden guardada. No. Orden: ' + resp.
                        order_number, 'success');
                    $('#order-number-value').html(resp.order_number);
                    $('#order-number-container').css('display', 'block');
                    $('#btn-make-order').hide('slow');
                 }, error => {
                    let errors_html_str = "<strong style=\"color: #484646;\" >Errors list</strong><hr style=\"margin: 0;\"/>";
                    let errors_containter = $('#errors-containerr');
                    for(let field of Object.keys(error.responseJSON)){
                        errors_html_str += `<div> <b>${field}</b> <ul>`;
                        for(let e of error.responseJSON[field]){
                            errors_html_str += `<li>${e}</li>`;
                        }
                        errors_html_str += '</ul></div>';
                    }

                    errors_containter.show('fast');
                    errors_containter.html(errors_html_str);
                    console.error('Error al guardar la orden. ' + error);
                    alertify.error('Error al guardar');
                 });
            }
        } 

        function print_order(){
            let [order_id, order_type_id] = [$('#order-number-value').html(),
                                            $('input[name=order_type]:checked')[0].value];
            window.open(`/pdf_order/${order_id}/type/${order_type_id}`, 
                        "_blank", '');
        }          

</script>
